@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.navbar-brand{
  font-family: 'Pacifico', cursive;
  color:white;
  font-size: 22px;
}
button{
  border-radius: 10px;
}
button:hover{
  background-color: rgb(255, 166, 0);
}
.navbar-brand p{
  font-size: 13px;
  color: white;
  font-family: 'Pacifico', cursive;
}

a{
  color: white;
}
*{
  font-family: 'Poppins', sans-serif;
}
img{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-weight: 100;
}
i{
  font-size: 18px;
  font-weight: lighter;
  color: white;
}
nav{
  background-color: black
}
