<!-- <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()" class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">Description :</label>
      <input type="text" class="form-control" name="description" id="description" formControlName="description">
    </div><br>
    <div class="form-group">
      <input type="file" name="profile" (change)="onFileSelect($event)" class="form-control">
    </div><br>
    <button class="btn btn-primary" type="submit">Post</button>
  </form> -->
