<div class="hero-image d-flex flex-column justify-content-center">
  <div class="display-3">Welcome to Shout</div>
  <div class="hero-subheading text-center">
    Connecting ideas and people – how talk can change our lives
  </div>
  <input
    class="hero-input text-center"
    placeholder="Search your friend here"
    type="text"
    formControlName="searchedUser"
    data-toggle="modal" data-target="#exampleModal"
  />
  <button data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary" (click)="searchUser()">Search</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
      <a href="" class="navbar-brand text-light mt-5">
        <div class="display-6 font-weight-bold">Hello, <br> {{username}}</div>
      </a>
      <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li class="navbar-item w-100">
          <a routerLink="../main" class="nav-link text-light p1-4 active">Feeds</a>
        </li>
        <li class="navbar-item w-100">
          <a routerLink="friends" class="nav-link text-light p1-4">Friend Suggestions</a>
        </li>
        <li class="navbar-item w-100">
          <a href="#" class="nav-link text-light p1-4">Make your feed</a>
        </li>
        <li class="navbar-item w-100">
          <a routerLink="requests" class="nav-link text-light p1-4">Friend Requests</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-9">
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
