<div class="hero-image d-flex flex-column justify-content-center">
  <div class="display-3">Welcome to Shout</div>
  <div class="hero-subheading text-center">
    Connecting ideas and people – how talk can change our lives
  </div>
  <input
    class="hero-input text-center"
    placeholder="Search your friend here"
    type="text"
  />
</div>
<div class="row">
  <div class="col-3">
    <div class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
      <a href="" class="navbar-brand text-light mt">
        <div class="display-6 font-weight-bold">Hello,{{username}}</div>
      </a>
      <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li class="navbar-item w-100">
          <a routerLink="../main" class="nav-link text-light p1-4 active">Feeds</a>
        </li>
        <li class="navbar-item w-100">
          <a routerLink="friends" class="nav-link text-light p1-4">Friend Suggestions</a>
        </li>
        <li class="navbar-item w-100">
          <a routerLink="feed" class="nav-link text-light p1-4">Make your feed</a>
        </li>
        <li class="navbar-item w-100">
          <a routerLink="requests" class="nav-link text-light p1-4">Friend Requests</a>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="col-9">
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
