img{
    height: 400px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid black;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: rgba(93, 97, 88, 0.76);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }
input{
    border-radius: 15px;
    width: 50%;
}
[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right:1em;
    color:white;
    }
  