@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

button{

  color: black;
  background-color: #b0a157;
  width: 100%;
}
a{
  text-decoration: none;
}
input{
  width: 100%;
  background-color: rgb(203,176,82);
  border-radius: 10px;
  border-bottom: 2px solid rgb(255, 166, 0);
  border-right: 2px solid rgb(255, 166, 0);
}

label{
  color: rgb(3, 3, 3);
  font-family: 'poppins';
}




